<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="" style="color:white;"><mat-icon class="icon-display" style="color: rgb(215, 15, 15);vertical-align: middle;transform: scale(1.5);">bloodtype</mat-icon>
      BloodBank</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
       <ul class="navbar-nav mr-auto" >
        <li *ngIf="loggedUserJwt === null" class="nav-item active">
          <a class="nav-link" routerLink="/login-user">Login</a>
       </li>
       <li *ngIf="loggedUserJwt !== null" class="nav-item active"(click)="onLogout()">
        <a class="nav-link" routerLink="/login-user">Logout</a>
     </li>
          <li *ngIf="loggedUserRole === 'ROLE_SYSTEM_ADMIN'" class="nav-item active">
             <a class="nav-link" routerLink="/search-users">Search users</a>
          </li>
          <li *ngIf="loggedUserRole === 'ROLE_SYSTEM_ADMIN'" class="nav-item active">
            <a class="nav-link" routerLink="/blood-bank-center">Update BloodBank</a>
         </li>
         <li *ngIf="loggedUserRole === 'ROLE_SYSTEM_ADMIN'" class="nav-item active">
            <a class="nav-link" routerLink="/register-blood-bank">Register BloodBank</a>
          </li>
          <li  *ngIf="loggedUserRole === 'ROLE_SYSTEM_ADMIN'" class="nav-item active">
            <a class="nav-link" routerLink="/register-staff">Register Staff</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/home-page">Home page</a>
          </li>
          <li *ngIf="loggedUserRole === 'ROLE_STAFF'" class="nav-item active">
            <a class="nav-link" routerLink="/staff-profile">Profile</a>
          </li>
          <li *ngIf="loggedUserRole === 'ROLE_USER'" class="nav-item active">
            <a class="nav-link" routerLink="/blood-donor-form">Register for blood donor</a>
          </li>
          <li *ngIf="loggedUserRole === 'ROLE_USER'" class="nav-item active">
            <a class="nav-link" routerLink="/edit-user-profile">Profile</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/appointments-calendar">Appointments Calendar</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/complaints-display">Complaints</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/register-sysadmin">Register sysadmin</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/register-user">Sign up</a>
          </li>
          
       </ul>
    </div>
</nav>
<router-outlet></router-outlet>
