<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div  style="background-image: url('../../../assets/bg5.webp'); max-width: 100%;background-size: cover;" >

    <div class="backgroud-style">

        <div >
            <h1 class="heading">Appointments</h1>
            <div class="container">
                <table class="appointments-table" mat-table mat-table [dataSource]="dataSource">
                    <!-- <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef class="cell-center" mat-sort-header> Appointment id </th>
                        <td mat-cell *matCellDef="let appointment" class="cell-center">{{appointment.id}} </td>
                    </ng-container> -->
                    <ng-container matColumnDef="dateTime">
                        <th mat-header-cell *matHeaderCellDef class="cell-center" mat-sort-header> Appointment time </th>
                        <td mat-cell *matCellDef="let appointment" class="cell-center">{{appointment.dateTime}} </td>
                    </ng-container>
                    <ng-container matColumnDef="duration">
                        <th mat-header-cell *matHeaderCellDef class="cell-center" mat-sort-header> Appointment duration </th>
                        <td mat-cell *matCellDef="let appointment" class="cell-center">{{appointment.duration}} </td>
                    </ng-container>
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef class="cell-center" mat-sort-header> Appointment status </th>
                        <td mat-cell *matCellDef="let appointment" class="cell-center">{{appointment.status}} </td>
                    </ng-container>
                    <ng-container matColumnDef="bloodBankCenter">
                        <th mat-header-cell *matHeaderCellDef class="cell-center" mat-sort-header> Blood bank </th>
                        <td mat-cell *matCellDef="let appointment" class="cell-center">{{appointment.bloodBankCenter.name}} </td>
                    </ng-container>
                    <ng-container matColumnDef="cancelButton">
                        <th mat-header-cell *matHeaderCellDef class="cell-center"> Cancel </th>
                        <td mat-cell *matCellDef="let appointment" class="cell-center">
                            <button class="btn btn-primary" type="button" (click)="cancel(appointment.id)">Cancel</button>
                        </td>
                    </ng-container>
                
                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    <!-- <tr
                        mat-row
                        (click)="cancelAppointment(row)"
                        *matRowDef="let row; columns: displayedColumns;">
                    </tr> -->
                </table>
            </div>
        </div>
    </div>
</div>