table {
    width: 100%;
}

table td {
    max-width: 100px;
}

.table-title {
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    font-size: 35px;
    margin: 0 auto;
}

.cell-center {
    text-align: center;
}

.clickable:hover {
    font-weight: bold;
    cursor: pointer;
}

.table-header {
    display: flex;
}

.start-btn {
    background-color: cadetblue;
    border: none;
    color: white;
}

.non-btn {
    background-color: red;
    border: none;
    color: white;
}

.reply-form {
    width: 80%;
    margin: 0 auto;
    padding-top: 40px;
    text-align: center;
}

.reply-input {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    overflow: visible;
}