<div class="container col-md-4">
    <h1 style="text-align: center;">Please change your password</h1>
    <div class="card">
      <div class="card-body">
        <form (ngSubmit)="Submit()">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Your new password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="passwordChangeDTO.newPassword"/>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Confirm your new password</label>
            <input type="password" class="form-control" name="passwordConfirm" [(ngModel)]="passwordChangeDTO.confirmNewPassord"/>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
