table {
    width: 100%;
}

table td {
    max-width: 100px;
}

.table-title {
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    font-size: 20px;

}

.cell-center {
    text-align: center;
}

.clickable:hover {
    font-weight: bold;
    cursor: pointer;
}

.table-header {
    display: flex;
}

.start-btn {
    background-color: cadetblue;
    border: none;
    color: white;
}

.non-btn {
    background-color: red;
    border: none;
    color: white;
}